%% -*- erlang -*-
{deps,
 [
  {sext, "1.5.0"},
  {leveled, {git, "https://github.com/martinsumner/leveled.git", {ref, "4b967be"}}}
 ]}.

{profiles,
 [
  {test,
   [
    %% remove 'warnings_as_errors' from the leveled config
    {overrides, [{override, leveled,
                  [{erl_opts, [{platform_define, "^2[0-1]{1}", fsm_deprecated},
                               {platform_define, "^1[7-8]{1}", old_rand},
                               {platform_define, "^17", no_log2},
                               {platform_define, "^R", no_sync},
                               {platform_define, "^R", old_rand},
                               {platform_define, "^R", no_log2},
                               {platform_define, "^R", slow_test}]}]}
                ]},
    {deps, [{proper, "1.3.0"}]}
   ]}
 ]}.

{erl_opts, [debug_info]}.
